flows.json
[{"id":"80f36727.de2a08","type":"tab","label":"Dashboard Sensor","disabled":false,"info":""},{"id":"d3016a81.e61038","type":"tab","label":"Dashboard History","disabled":false,"info":""},{"id":"5ce15211.6b458c","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"518d0f74.5d17b","type":"ui_base","z":"","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#ed0c0c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#ec0941","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6de3e7e9.2a1888","type":"ui_group","z":"","name":"group","tab":"fc0e0307.5cd63","order":1,"disp":false,"width":"6","collapse":false},{"id":"e06e3bda.11cfc8","type":"ui_group","z":"","name":"info","tab":"a726f5ba.a9cc78","order":2,"disp":true,"width":"7","collapse":false},{"id":"477ceabe.abbb84","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"kandang","tz":"Asia/Jakarta"},{"id":"2d58cf92.ab91f","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"kandang","tz":"Asia/Jakarta"},{"id":"7ae1224d.8edc2c","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"129cc564.2ae9fb","type":"telegram bot","z":"","botname":"grefma_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"fb3260a2.7a44","type":"ui_tab","z":"","name":"History","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1466eb5c.c18c75","type":"ui_group","z":"","name":"History","tab":"fb3260a2.7a44","order":3,"disp":false,"width":"20","collapse":false},{"id":"a726f5ba.a9cc78","type":"ui_tab","z":"","name":"Sensor","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"48af7aa8.4be654","type":"ui_group","z":"","name":"chart","tab":"fb3260a2.7a44","order":1,"disp":false,"width":"10","collapse":false},{"id":"ead9afcc.016ef","type":"ui_group","z":"","name":"tanggal","tab":"a726f5ba.a9cc78","order":1,"disp":false,"width":"7","collapse":false},{"id":"5de81b54.811da4","type":"ui_group","z":"","name":"Manual","tab":"a726f5ba.a9cc78","order":4,"disp":true,"width":"7","collapse":false},{"id":"da5bac56.8d47d","type":"ui_group","z":"","name":"Otomatis","tab":"a726f5ba.a9cc78","order":3,"disp":true,"width":"7","collapse":false},{"id":"4cd50e63.e70b6","type":"ui_group","z":"","name":"Kontrol","tab":"a726f5ba.a9cc78","order":5,"disp":true,"width":"7","collapse":false},{"id":"f56ed4.63d5713","type":"ui_group","z":"","name":"Dimmer Manual","tab":"fb3260a2.7a44","order":2,"disp":false,"width":"10","collapse":false},{"id":"7bae7eb9.f860e","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc0e0307.5cd63","type":"ui_tab","z":"","name":"test","icon":"dashboard","disabled":false,"hidden":false},{"id":"71f61a21.7e87e4","type":"sqlitedb","z":0,"x":0,"y":0,"wires":[[]]},{"id":"327afb69.60dd94","type":"function","z":"d3016a81.e61038","name":"query filtering data","func":"var data=context.get('data')|| {};\nvar topic=msg.topic;\nvar payload=msg.payload;\n\nif (topic==\"sdate\")\ndata.sdate=msg.payload;\nvar a = data.sdate;\nif (topic==\"edate\")\ndata.edate=msg.payload;\nvar b = data.edate;\n\n//\nvar d=new Date();\nnow=d.getTime();\nif (data.edate===undefined || data.edate===\"\")\n    edate=now;\nelse\nedate=data.edate;\nif (data.sdate===undefined || data.sdate===\"\")\n    sdate=0;\nelse\n    sdate=data.sdate;\ncontext.set('data',data)\nif (sdate===0)\n{\n   var part_msg=\"\"; \n    \n}\nelse\n{\n   part_msg=\" AND waktu >\"+sdate+ \" AND waktu<\"+edate+ \" \"; \n}\nif(topic===\"submit\")\n{\n    var query=\"\";\n    query =\"SELECT * FROM log_sensor WHERE waktu >='\"+a+\"' AND waktu <= '\"+b+\"'\";\n    \nnode.log(\"query \"+query);\nmsg.topic=query;\n\ncontext.set('data',data)\nif (query!==\"\")\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["23244b6f.75ced4"]]},{"id":"450af834.9bb6f8","type":"ui_date_picker","z":"d3016a81.e61038","name":"","label":"Tanggal Awal:","group":"48af7aa8.4be654","order":1,"width":"5","height":"2","passthru":false,"topic":"sdate","x":180,"y":60,"wires":[["7cbda4ad.89cb6c"]]},{"id":"932cd7c9.26b198","type":"ui_date_picker","z":"d3016a81.e61038","name":"","label":"Tanggal Akhir:","group":"48af7aa8.4be654","order":2,"width":"5","height":"2","passthru":false,"topic":"edate","x":180,"y":120,"wires":[["e8d5dc5b.0b9be"]]},{"id":"b91222de.afba","type":"ui_button","z":"d3016a81.e61038","name":"","group":"48af7aa8.4be654","order":3,"width":"2","height":"1","passthru":false,"label":"Filter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"submit","x":150,"y":160,"wires":[["327afb69.60dd94"]]},{"id":"7cbda4ad.89cb6c","type":"moment","z":"d3016a81.e61038","name":"","topic":"sdate","input":"","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"id_ID","output":"","outputType":"msg","outTz":"Asia/Jakarta","x":330,"y":60,"wires":[["327afb69.60dd94"]]},{"id":"e8d5dc5b.0b9be","type":"moment","z":"d3016a81.e61038","name":"","topic":"edate","input":"","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"id_ID","output":"","outputType":"msg","outTz":"Asia/Jakarta","x":330,"y":120,"wires":[["327afb69.60dd94"]]},{"id":"23244b6f.75ced4","type":"mysql","z":"d3016a81.e61038","mydb":"2d58cf92.ab91f","name":"log_sensor","x":750,"y":100,"wires":[["2fa8cbc9.82c944"]]},{"id":"2fa8cbc9.82c944","type":"change","z":"d3016a81.e61038","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"kelembapan\", \"label\": \"kelembapan\" },\t    { \"field\": \"suhu\", \"label\": \"suhu\" }\t    ];\t  $xaxis := \"waktu\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":100,"wires":[["f86ae5e9.d45b18"]]},{"id":"f86ae5e9.d45b18","type":"ui_chart","z":"d3016a81.e61038","name":"","group":"48af7aa8.4be654","order":4,"width":"10","height":"7","label":"SUHU DAN KELEMBAPAN KANDANG","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#003e6b","#f70808","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":100,"wires":[[]]},{"id":"b9f37cdc.a87ec","type":"ui_table","z":"d3016a81.e61038","group":"1466eb5c.c18c75","name":"","order":5,"width":"20","height":"10","columns":[{"field":"kelembapan","title":"Kelembapan (%)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"suhu","title":"Suhu (°C)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"waktu","title":"Waktu (WIB)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"keterangan","title":"Umur (Hari)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":930,"y":360,"wires":[]},{"id":"963d39af.b2c3b8","type":"comment","z":"d3016a81.e61038","name":"History Chart","info":"","x":530,"y":60,"wires":[]},{"id":"716160bd.ed02b","type":"function","z":"d3016a81.e61038","name":"query filtering data","func":"var data=context.get('data')|| {};\nvar topic=msg.topic;\nvar payload=msg.payload;\n\nif (topic==\"sdate\")\ndata.sdate=msg.payload;\nvar a = data.sdate;\nif (topic==\"edate\")\ndata.edate=msg.payload;\nvar b = data.edate;\n\n//\nvar d=new Date();\nnow=d.getTime();\nif (data.edate===undefined || data.edate===\"\")\n    edate=now;\nelse\nedate=data.edate;\nif (data.sdate===undefined || data.sdate===\"\")\n    sdate=0;\nelse\n    sdate=data.sdate;\ncontext.set('data',data)\nif (sdate===0)\n{\n   var part_msg=\"\"; \n    \n}\nelse\n{\n   part_msg=\" AND waktu >\"+sdate+ \" AND waktu<\"+edate+ \" \"; \n}\nif(topic===\"submit\")\n{\n    var query=\"\";\n    query =\"SELECT * FROM log_sensor WHERE waktu >='\"+a+\"' AND waktu <= '\"+b+\"'\";\n    \nnode.log(\"query \"+query);\nmsg.topic=query;\n\ncontext.set('data',data)\nif (query!==\"\")\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["111d0662.162c8a"]]},{"id":"8da31cd6.70c9c","type":"ui_date_picker","z":"d3016a81.e61038","name":"","label":"Tanggal Awal:","group":"1466eb5c.c18c75","order":2,"width":"9","height":"2","passthru":false,"topic":"sdate","x":160,"y":320,"wires":[["58249a55.56f324"]]},{"id":"4179ef7c.3660b","type":"ui_date_picker","z":"d3016a81.e61038","name":"","label":"Tanggal Akhir:","group":"1466eb5c.c18c75","order":3,"width":"9","height":"2","passthru":false,"topic":"edate","x":160,"y":380,"wires":[["79aa2825.8ed5e8"]]},{"id":"330ac800.6d9988","type":"ui_button","z":"d3016a81.e61038","name":"","group":"1466eb5c.c18c75","order":4,"width":"2","height":"1","passthru":false,"label":"Filter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"submit","x":130,"y":420,"wires":[["716160bd.ed02b"]]},{"id":"58249a55.56f324","type":"moment","z":"d3016a81.e61038","name":"","topic":"sdate","input":"","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"id_ID","output":"","outputType":"msg","outTz":"Asia/Jakarta","x":310,"y":320,"wires":[["716160bd.ed02b"]]},{"id":"79aa2825.8ed5e8","type":"moment","z":"d3016a81.e61038","name":"","topic":"edate","input":"","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"id_ID","output":"","outputType":"msg","outTz":"Asia/Jakarta","x":310,"y":380,"wires":[["716160bd.ed02b"]]},{"id":"111d0662.162c8a","type":"mysql","z":"d3016a81.e61038","mydb":"2d58cf92.ab91f","name":"log_sensor","x":730,"y":360,"wires":[["b9f37cdc.a87ec"]]},{"id":"1ca798e9.045e47","type":"comment","z":"d3016a81.e61038","name":"History Table","info":"","x":530,"y":300,"wires":[]},{"id":"dbc6d9ad.1cbd18","type":"mqtt in","z":"d3016a81.e61038","name":"","topic":"kandang/dimmer","qos":"0","datatype":"auto","broker":"5ce15211.6b458c","x":140,"y":600,"wires":[["edf7ca55.3fd958"]]},{"id":"edf7ca55.3fd958","type":"function","z":"d3016a81.e61038","name":"Query save data","func":"var topic=msg.topic;\nvar payload=msg.payload;\n\nvar out = \"INSERT INTO log_aktuator (topik,value)\"\nout = out + \"VALUES ('\"+topic + \"','\" + payload + \"');\"\nmsg.topic=out;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["febee74.a5e1618"]]},{"id":"febee74.a5e1618","type":"mysql","z":"d3016a81.e61038","mydb":"2d58cf92.ab91f","name":"log_aktuator","x":630,"y":600,"wires":[[]]},{"id":"e68bac09.49669","type":"function","z":"d3016a81.e61038","name":"query filtering data","func":"var data=context.get('data')|| {};\nvar topic=msg.topic;\nvar payload=msg.payload;\n\nif (topic==\"sdate\")\ndata.sdate=msg.payload;\nvar a = data.sdate;\nif (topic==\"edate\")\ndata.edate=msg.payload;\nvar b = data.edate;\n\n//\nvar d=new Date();\nnow=d.getTime();\nif (data.edate===undefined || data.edate===\"\")\n    edate=now;\nelse\nedate=data.edate;\nif (data.sdate===undefined || data.sdate===\"\")\n    sdate=0;\nelse\n    sdate=data.sdate;\ncontext.set('data',data)\nif (sdate===0)\n{\n   var part_msg=\"\"; \n    \n}\nelse\n{\n   part_msg=\" AND waktu >\"+sdate+ \" AND waktu<\"+edate+ \" \"; \n}\nif(topic===\"submit\")\n{\n    var query=\"\";\n    query =\"SELECT * FROM log_aktuator WHERE waktu >='\"+a+\"' AND waktu <= '\"+b+\"'\";\n    \nnode.log(\"query \"+query);\nmsg.topic=query;\n\ncontext.set('data',data)\nif (query!==\"\")\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["f1e9e031.21c3a"]]},{"id":"f1e9e031.21c3a","type":"mysql","z":"d3016a81.e61038","mydb":"2d58cf92.ab91f","name":"log_aktuator","x":710,"y":700,"wires":[["3d7aceca.ec00e2"]]},{"id":"9255f90a.dd2778","type":"ui_date_picker","z":"d3016a81.e61038","name":"","label":"Tanggal Awal:","group":"f56ed4.63d5713","order":1,"width":"5","height":"2","passthru":false,"topic":"sdate","x":140,"y":660,"wires":[["a13e1527.adfba8"]]},{"id":"92c08fe3.668db","type":"ui_date_picker","z":"d3016a81.e61038","name":"","label":"Tanggal Akhir:","group":"f56ed4.63d5713","order":2,"width":"5","height":"2","passthru":false,"topic":"edate","x":145,"y":740.9999961853027,"wires":[["1dc3823a.2b4dfe"]]},{"id":"a0591f41.f87a6","type":"ui_button","z":"d3016a81.e61038","name":"","group":"f56ed4.63d5713","order":3,"width":"2","height":"1","passthru":false,"label":"Filter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"submit","x":110,"y":800,"wires":[["e68bac09.49669"]]},{"id":"a13e1527.adfba8","type":"moment","z":"d3016a81.e61038","name":"","topic":"sdate","input":"","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"id_ID","output":"","outputType":"msg","outTz":"Asia/Jakarta","x":290,"y":680,"wires":[["e68bac09.49669"]]},{"id":"1dc3823a.2b4dfe","type":"moment","z":"d3016a81.e61038","name":"","topic":"edate","input":"","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"id_ID","output":"","outputType":"msg","outTz":"Asia/Jakarta","x":295,"y":740.9999961853027,"wires":[["e68bac09.49669"]]},{"id":"9d58872a.0d8598","type":"ui_chart","z":"d3016a81.e61038","name":"","group":"f56ed4.63d5713","order":4,"width":"10","height":"7","label":"DIMMER LAMPU","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff811d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":660,"wires":[[]]},{"id":"3d7aceca.ec00e2","type":"change","z":"d3016a81.e61038","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"value\", \"label\": \"dimmer\" },\t    { \"field\": \"\", \"label\": \"\" }\t    ];\t  $xaxis := \"waktu\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":700,"wires":[["9d58872a.0d8598"]]},{"id":"f90f2755.3acc78","type":"comment","z":"d3016a81.e61038","name":"History Aktuator","info":"","x":500,"y":660,"wires":[]},{"id":"b7965da.93f4ca","type":"ui_date_picker","z":"80f36727.de2a08","name":"","label":"Tanggal Masuk (tetas) DOD:","group":"ead9afcc.016ef","order":1,"width":"7","height":"2","passthru":true,"topic":"sdate","x":120,"y":40,"wires":[["d3d86fa7.1b5a8"]]},{"id":"d3d86fa7.1b5a8","type":"moment","z":"80f36727.de2a08","name":"konversi tanggal masuk","topic":"sdate","input":"","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"id_ID","output":"","outputType":"msg","outTz":"Asia/Jakarta","x":410,"y":40,"wires":[["afd05b6f.4ec738"]]},{"id":"afd05b6f.4ec738","type":"function","z":"80f36727.de2a08","name":"query save tanggal masuk","func":"var data=context.get('data')|| {};\nvar topic=msg.topic;\nvar payload=msg.payload;\n\nif (topic==\"sdate\")\ndata.sdate=msg.payload;\nvar a = data.sdate;\n\n//\nvar d=new Date();\nnow=d.getTime();\n\nif (data.sdate===undefined || data.sdate===\"\")\n    sdate=0;\nelse\n    sdate=data.sdate;\ncontext.set('data',data)\n\nif(topic===\"tgl/masuk\" && data.sdate !== undefined )\n{\n    var query =\"INSERT INTO tanggal_masuk (topik,tanggal)\";\n    query = query + \"VALUES ('\"+ topic + \"','\" + data.sdate + \"');\"\n    \nnode.log(\"query \"+query);\nmsg.topic=query;\n\ncontext.set('data',data)\nif (query!==\"\")\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":730,"y":60,"wires":[["ca8b330e.3f90e"]]},{"id":"ca8b330e.3f90e","type":"mysql","z":"80f36727.de2a08","mydb":"2d58cf92.ab91f","name":"tgl_masuk","x":970,"y":20,"wires":[[]]},{"id":"ea516a79.b19ff8","type":"ui_button","z":"80f36727.de2a08","name":"Button Submit","group":"ead9afcc.016ef","order":2,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Sensor_Otomatis\"],\"show\":[\"Sensor_info\",\"Sensor_Manual\",\"Sensor_tanggal\"]}}","payloadType":"json","topic":"tgl/masuk","x":500,"y":100,"wires":[["afd05b6f.4ec738","77a4425b.0d200c","d83346b3.f61788"]]},{"id":"ec8f6b7e.3784d8","type":"ui_button","z":"80f36727.de2a08","name":"","group":"da5bac56.8d47d","order":3,"width":"0","height":"0","passthru":false,"label":"Otomatis","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Sensor_Otomatis\",\"Sensor_Kontrol\"],\"show\":[\"Sensor_info\",\"Sensor_tanggal\",\"Sensor_Manual\"]}}","payloadType":"json","topic":"otomatis","x":480,"y":180,"wires":[["77a4425b.0d200c","d83346b3.f61788"]]},{"id":"9d22c5a4.532fa8","type":"ui_button","z":"80f36727.de2a08","name":"","group":"5de81b54.811da4","order":3,"width":"0","height":"0","passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"#ff0000","icon":"","payload":"{\"group\":{\"hide\":[\"Sensor_Manual\"],\"show\":[\"Sensor_info\",\"Sensor_Otomatis\",\"Sensor_Kontrol\",\"Sensor_tanggal\"]}}","payloadType":"json","topic":"emergency","x":470,"y":220,"wires":[["77a4425b.0d200c","a7bfed47.e89e4"]]},{"id":"39e4a691.587cca","type":"ui_button","z":"80f36727.de2a08","name":"","group":"ead9afcc.016ef","order":3,"width":"0","height":"0","passthru":false,"label":"Selesai","tooltip":"","color":"","bgcolor":"#ff0000","icon":"","payload":"{\"group\":{\"hide\":[\"Sensor_Manual\",\"Sensor_Otomatis\",\"Sensor_Kontrol\"],\"show\":[\"Sensor_info\",\"Sensor_tanggal\"]}}","payloadType":"json","topic":"keluar","x":480,"y":140,"wires":[["77a4425b.0d200c","bf89fb19.bdee28","6677b048.c5148","d4ffceb3.8e9a5"]]},{"id":"6302ab90.2632f4","type":"inject","z":"80f36727.de2a08","name":"","topic":"","payload":"{\"group\":{\"hide\":[\"Sensor_Manual\",\"Sensor_Otomatis\",\"Sensor_Kontrol\"],\"show\":[\"Sensor_info\",\"Sensor_tanggal\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":260,"wires":[["77a4425b.0d200c"]]},{"id":"77a4425b.0d200c","type":"ui_ui_control","z":"80f36727.de2a08","name":"","events":"all","x":860,"y":160,"wires":[[]]},{"id":"d83346b3.f61788","type":"function","z":"80f36727.de2a08","name":"query order taggal masuk terakhir","func":"if (msg.topic =='tgl/masuk' || msg.topic =='otomatis' ){\nvar out = \"SELECT * FROM tanggal_masuk WHERE topik = 'tgl/masuk' ORDER BY created_at DESC LIMIT 1\"\nmsg.topic=out;\nreturn msg;\n}\n\n\n","outputs":1,"noerr":0,"x":780,"y":280,"wires":[["efd66004.eeb64"]]},{"id":"efd66004.eeb64","type":"mysql","z":"80f36727.de2a08","mydb":"2d58cf92.ab91f","name":"tgl_masuk","x":980,"y":220,"wires":[["bf89fb19.bdee28"]]},{"id":"bf89fb19.bdee28","type":"function","z":"80f36727.de2a08","name":"mengambil tanggalnya saja","func":"if (msg.topic!='keluar'){\nvar str = msg.payload;\nstr = str[0]['tanggal'];\nmsg.payload = str;\nreturn msg;\n}\nelse if (msg.topic=='keluar'){\nreturn {\n    topic:'keluar',\n    payload:0\n}\n}\n","outputs":1,"noerr":0,"x":680,"y":660,"wires":[["3153a5c7.da187a","b4a928b9.c6e288"]]},{"id":"5154ba98.67bc94","type":"function","z":"80f36727.de2a08","name":"text umur:","func":"m = msg.payload;\nt = msg.topic;\nif (t != 'emergency'){\nvar milliday = 24 * 60 * 60 * 1000;\nvar tgl_now = new Date();\nvar tgl_in = new Date(m);\nvar tgl1 = Date.parse(tgl_now);\nvar tgl2 = Date.parse(tgl_in);\nvar s = (tgl_now - tgl_in)/milliday;\nif (s >= 0 && s <= 30 ){\nvar a = Math.floor(s);\nif (a >= 0 && a <= 29 ){\nmsg.payload = a;\nreturn msg;\n}\n}\nelse if (s > 29 ){\nmsg.payload = undefined;\nreturn msg;\n} \n}","outputs":1,"noerr":0,"x":1380,"y":640,"wires":[["d2f885b2.cbb688","3f3e91d6.b9bd4e","6677b048.c5148","d4ffceb3.8e9a5","6f50977c.c96b68","22fbc189.250c3e"]]},{"id":"673964c5.6e2f3c","type":"ui_text","z":"80f36727.de2a08","group":"e06e3bda.11cfc8","order":2,"width":0,"height":0,"name":"Umur","label":"Umur:","format":"{{msg.payload}}","layout":"row-spread","x":1950,"y":560,"wires":[]},{"id":"d4ffceb3.8e9a5","type":"function","z":"80f36727.de2a08","name":"function mengirim data ke mqtt","func":"m = msg.payload;\nt = msg.topic;\nvar a = m\nif(t != 'emergency' ){\nif (a >= 0 && a <= 7)\n{\n    return {topic:t, payload:\"a\"};\n}\nelse if(a >=8  && a <= 14)\n{\n    return {topic:t, payload:\"b\"}\n}\nelse if(a >=15 && a <= 21)\n{\n    return {topic:t, payload:\"c\"}\n}\nelse if(a >=22 && a <=28)\n{\n    return {topic:t, payload:\"d\"}\n}\nelse if( a >= 29 && a <=30)\n{\n    return {topic:'selesai', payload:\"e\"}\n}\nelse if( t=== 'keluar')\n{\n    return {topic:'otomatis', payload:\"e\"}\n}\n}","outputs":1,"noerr":0,"x":1650,"y":660,"wires":[["8a1b8973.2fdc28","1eac7abe.26c885"]]},{"id":"9fa1d2d3.e0ff9","type":"ui_text","z":"80f36727.de2a08","group":"e06e3bda.11cfc8","order":3,"width":0,"height":0,"name":"Minggu ke:","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1930,"y":500,"wires":[]},{"id":"6677b048.c5148","type":"function","z":"80f36727.de2a08","name":"text umur:","func":"m = msg.payload;\nt = msg.topic;\nif (m === undefined ){\nmsg.payload = \"\";\nreturn msg;\n} else{\n    msg.payload = m;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1640,"y":600,"wires":[["9368eee0.bdcaf","673964c5.6e2f3c"]]},{"id":"d2f885b2.cbb688","type":"function","z":"80f36727.de2a08","name":"minggu ke","func":"m = msg.payload;\nt = msg.topic;\nvar a = m\nif (m === undefined ){\nmsg.payload = \"\";\nreturn msg;\n} else{\nif (a >= 0 && a <=7)\n{\n    return {topic:t, payload:\"minggu pertama\"};\n}\nelse if(a >=8  && a <= 14)\n{\n    return {topic:t, payload:\"minggu kedua\"}\n}\nelse if(a >=15 && a <= 21)\n{\n    return {topic:t, payload:\"minggu ketiga\"}\n}\nelse if(a >=22 && a <=28)\n{\n    return {topic:t, payload:\"minggu keempat\"}\n}\nelse if( a >= 29 || t == 'keluar')\n{\n    return {topic:'selesai', payload:\"\"}\n}\n}","outputs":1,"noerr":0,"x":1650,"y":520,"wires":[["9fa1d2d3.e0ff9","38d8d7bb.4adcd8"]]},{"id":"4ee4fac3.a27704","type":"ui_slider","z":"80f36727.de2a08","name":"","label":"Dimmer","tooltip":"","group":"4cd50e63.e70b6","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"10","x":80,"y":100,"wires":[["488ab8ef.db7da8"]]},{"id":"71fc5989.a43388","type":"ui_switch","z":"80f36727.de2a08","name":"","label":"kipas","tooltip":"","group":"4cd50e63.e70b6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":70,"y":140,"wires":[["5d4dcac9.192034"]]},{"id":"488ab8ef.db7da8","type":"mqtt out","z":"80f36727.de2a08","name":"","topic":"kandang/dimmer","qos":"","retain":"","broker":"5ce15211.6b458c","x":310,"y":100,"wires":[]},{"id":"5d4dcac9.192034","type":"mqtt out","z":"80f36727.de2a08","name":"","topic":"kandang/kipas","qos":"","retain":"","broker":"5ce15211.6b458c","x":320,"y":140,"wires":[]},{"id":"3ecc0656.d830fa","type":"comment","z":"80f36727.de2a08","name":"Tampilan Dashboard sensor","info":"","x":220,"y":220,"wires":[]},{"id":"4a88a052.c8316","type":"ui_switch","z":"80f36727.de2a08","name":"","label":"Lampu","tooltip":"","group":"4cd50e63.e70b6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":70,"y":180,"wires":[["35552682.ee203a"]]},{"id":"35552682.ee203a","type":"mqtt out","z":"80f36727.de2a08","name":"","topic":"kandang/lampu","qos":"","retain":"","broker":"5ce15211.6b458c","x":300,"y":180,"wires":[]},{"id":"e81f2d66.df532","type":"ui_chart","z":"80f36727.de2a08","name":"","group":"e06e3bda.11cfc8","order":6,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ce097c","#083b7d","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":420,"wires":[[]]},{"id":"128e34f9.41a6bb","type":"ui_gauge","z":"80f36727.de2a08","name":"","group":"e06e3bda.11cfc8","order":4,"width":"3","height":"3","gtype":"gage","title":"Suhu","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":380,"wires":[]},{"id":"251135bf.db919a","type":"ui_gauge","z":"80f36727.de2a08","name":"","group":"e06e3bda.11cfc8","order":5,"width":"3","height":"3","gtype":"gage","title":"Kelembapan","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":320,"wires":[]},{"id":"97b99740.b561e8","type":"mqtt in","z":"80f36727.de2a08","name":"","topic":"kandang/kelembapan","qos":"0","datatype":"auto","broker":"5ce15211.6b458c","x":120,"y":300,"wires":[["e81f2d66.df532","251135bf.db919a","684bbb01.603e74"]]},{"id":"8c29367d.7772a8","type":"mqtt in","z":"80f36727.de2a08","name":"","topic":"kandang/suhu","qos":"0","datatype":"auto","broker":"5ce15211.6b458c","x":90,"y":340,"wires":[["128e34f9.41a6bb","e81f2d66.df532"]]},{"id":"cc1bbfaf.4a0b3","type":"comment","z":"80f36727.de2a08","name":"Tampilan Dashboard sensor","info":"","x":1880,"y":540,"wires":[]},{"id":"b797e97.8c35518","type":"comment","z":"80f36727.de2a08","name":"Tampilan Dashboard sensor","info":"","x":940,"y":880,"wires":[]},{"id":"47077f75.ff76d","type":"function","z":"80f36727.de2a08","name":"Query save data","func":"// context.tgl = context.tgl || undefined;\n// context.suhu = context.suhu || undefined;\n// context.kelembapan = context.kelembapan || undefined;\nif (msg.topic === 'tgl') {\n  context.tgl = msg.payload;\n}else if (msg.topic === 'kandang/suhu') {\n  context.suhu = msg.payload;\n}else if (msg.topic === 'kandang/kelembapan') {\n  context.kelembapan = msg.payload;\n}\nelse if (msg.topic === 'keluar') {\n  context.keluar = msg.payload;\n}\nif (context.tgl !== undefined){\nif(context.suhu !==undefined && context.kelembapan !== undefined){\nvar out = \"INSERT INTO log_sensor (kelembapan,suhu,keterangan)\"\nout = out + \"VALUES ('\"\nout = out + context.kelembapan + \"','\" + context.suhu + \"','\" + context.tgl + \"');\"\nmsg.topic=out;\nreturn msg;\n}\n}\n","outputs":1,"noerr":0,"x":1440,"y":480,"wires":[["deb9b1e3.ebeb8"]]},{"id":"deb9b1e3.ebeb8","type":"mysql","z":"80f36727.de2a08","mydb":"477ceabe.abbb84","name":"log_sensor","x":1670,"y":480,"wires":[["c6cb7f98.ca3ab"]]},{"id":"3f3e91d6.b9bd4e","type":"function","z":"80f36727.de2a08","name":"suhu optimum","func":"m = msg.payload;\nt = msg.topic;\nvar a = m\nif (a >= 0 && a <=7)\n{\n    return {topic:t, payload:\"Suhu Optimum  35 +- 1°C\"};\n}\nelse if(a >=8  && a <= 14)\n{\n    return {topic:t, payload:\"Suhu Optimum  32 +- 1°C\"}\n}\nelse if(a >=15 && a <= 21)\n{\n    return {topic:t, payload:\"Suhu Optimum  29 +- 1°C\"}\n}\nelse if(a >=22 && a <=28)\n{\n    return {topic:t, payload:\"Suhu Optimum  26 +- 1°C\"}\n}\nelse if( a >= 29)\n{\n    return {topic:'selesai', payload:\"\"}\n}\nelse if( a === undefined)\n{\n    return {topic:'selesai', payload:\"\"}\n}\n\n","outputs":1,"noerr":0,"x":1600,"y":720,"wires":[["debdb868.b51778"]]},{"id":"debdb868.b51778","type":"ui_text","z":"80f36727.de2a08","group":"e06e3bda.11cfc8","order":7,"width":0,"height":0,"name":"Suhu optimum","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1920,"y":720,"wires":[]},{"id":"8a1b8973.2fdc28","type":"mqtt out","z":"80f36727.de2a08","name":"","topic":"kandang/otomatis","qos":"","retain":"","broker":"5ce15211.6b458c","x":1910,"y":660,"wires":[]},{"id":"384ddc10.2cc9c4","type":"delay","z":"80f36727.de2a08","name":"","pauseType":"queue","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1120,"y":500,"wires":[["47077f75.ff76d"]]},{"id":"17c08ff6.5ca5d","type":"mqtt in","z":"80f36727.de2a08","name":"","topic":"kandang/kelembapan","qos":"0","datatype":"auto","broker":"5ce15211.6b458c","x":1220,"y":280,"wires":[["384ddc10.2cc9c4"]]},{"id":"95ed6375.2a613","type":"mqtt in","z":"80f36727.de2a08","name":"","topic":"kandang/suhu","qos":"0","datatype":"auto","broker":"5ce15211.6b458c","x":1090,"y":340,"wires":[["384ddc10.2cc9c4"]]},{"id":"1eac7abe.26c885","type":"debug","z":"80f36727.de2a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":620,"wires":[]},{"id":"fe9e1627.b0c4c8","type":"function","z":"80f36727.de2a08","name":"text umur emergency","func":"m = msg.payload;\nt = msg.topic;\n\nif (m >= 0 && m <= 28 ){\n    return {\n        topic: t,\n        payload:m\n    }\n}\nelse if (m<0 || m > 28 ){\nmsg.payload = undefined;\nreturn msg;\n} \n","outputs":1,"noerr":0,"x":4600,"y":1020,"wires":[[]]},{"id":"c6cb7f98.ca3ab","type":"debug","z":"80f36727.de2a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1910,"y":460,"wires":[]},{"id":"18ba73ca.3d41ec","type":"ui_text","z":"80f36727.de2a08","group":"e06e3bda.11cfc8","order":1,"width":0,"height":0,"name":"","label":"Tanggal Masuk (tetas) DOD:","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":840,"wires":[]},{"id":"a7bfed47.e89e4","type":"trigger","z":"80f36727.de2a08","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1100,"y":660,"wires":[["5154ba98.67bc94"]]},{"id":"3153a5c7.da187a","type":"moment","z":"80f36727.de2a08","name":"","topic":"tgl","input":"","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"id_ID","output":"","outputType":"msg","outTz":"Asia/Jakarta","x":910,"y":660,"wires":[["a7bfed47.e89e4"]]},{"id":"6f50977c.c96b68","type":"trigger","z":"80f36727.de2a08","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1120,"y":560,"wires":[["384ddc10.2cc9c4","d9494e8f.588e3"]]},{"id":"d9326fd6.34385","type":"function","z":"80f36727.de2a08","name":"mengirim pesan ke telegram ketika umur 29","func":"if (msg.payload == 29){\nmsg.payload = {}\nmsg.payload.chatId = 689049078\nmsg.payload.type = 'message'\nmsg.payload.content = 'Sudah waktunya dipindahkan'\nmsg.payload.content = 'Klik selesai'\nreturn msg;\n}","outputs":1,"noerr":0,"x":1650,"y":820,"wires":[["2998c3d6.c28cfc"]]},{"id":"2998c3d6.c28cfc","type":"telegram sender","z":"80f36727.de2a08","name":"","bot":"129cc564.2ae9fb","x":1970,"y":820,"wires":[[]]},{"id":"9368eee0.bdcaf","type":"delay","z":"80f36727.de2a08","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1620,"y":760,"wires":[["d9326fd6.34385"]]},{"id":"22d6934b.b8c92c","type":"telegram receiver","z":"80f36727.de2a08","name":"","bot":"129cc564.2ae9fb","saveDataDir":"","filterCommands":false,"x":4150,"y":1020,"wires":[[],[]]},{"id":"d2c3e59e.3cab08","type":"telegram sender","z":"80f36727.de2a08","name":"","bot":"129cc564.2ae9fb","x":4390,"y":1020,"wires":[[]]},{"id":"d9494e8f.588e3","type":"debug","z":"80f36727.de2a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":560,"wires":[]},{"id":"cf25dc09.229fc","type":"ui_template","z":"80f36727.de2a08","group":"6de3e7e9.2a1888","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":160,"y":420,"wires":[[]]},{"id":"b4a928b9.c6e288","type":"function","z":"80f36727.de2a08","name":"","func":"m=msg.payload;\nt=msg.topic;\nif (msg.payload===0){\n    return {\n        topic:t,\n        payload:\"\"\n    }\n}\nelse {\n    return msg\n}","outputs":1,"noerr":0,"x":770,"y":760,"wires":[["18ba73ca.3d41ec"]]},{"id":"22fbc189.250c3e","type":"debug","z":"80f36727.de2a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":740,"wires":[]},{"id":"38d8d7bb.4adcd8","type":"debug","z":"80f36727.de2a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2070,"y":520,"wires":[]},{"id":"684bbb01.603e74","type":"debug","z":"80f36727.de2a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":280,"wires":[]}]